 body {
     height: 3000px;
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
 }

 html {
     scroll-behavior: smooth;
 }


 /* header part start */
 .header-part {
     background: url(../img/top-banner.png);
     background-repeat: no-repeat;
     background-size: cover;
 }

 .top-content {
     padding-top: 30px;

 }

 .top-content h2 {
     font-weight: 800;
     text-transform: uppercase;
 }

 .top-content h3 {
     text-transform: uppercase;
     padding-top: 20px;
     padding-bottom: 10px;
     font-weight: 600;
     letter-spacing: 3px;

 }

 .top-content h4 {
     text-transform: capitalize;
     padding-top: 10px;
     font-weight: 600;
     font-size: 25px;

 }

 .color {
     color: orange;

 }

 .top-content p {
     width: 80%;
     text-align: justify;
     line-height: 28px;
     font-weight: normal;
 }

 .btn-custom {
     padding: 6px 20px;
     background-color: #FB6B58;
     border-radius: 0;
     color: #ffffff;
     text-transform: uppercase;
     transition: 0.5s all ease;

 }

 .btn-custom:hover {
     background-color: transparent;
     border: 1px solid #FB6B58;
     color: #FB6B58;
 }

 .main-image img {
     width: 550px;
     height: auto;
     padding-top: 30px;
     margin-left: 0;
 }

 /* header part end */
 /* middle part start */
 .middle-part {
     padding-top: 90px;
     background: url(../img/dream-bg.png);
     background-repeat: no-repeat;
     background-position: right;
 }

 .middle-content h2 {
     font-size: 25px;
     font-weight: bold;

 }

 .middle-content .text {
     font-size: 20px;
     font-weight: bold;
 }

 .middle-image img {
     width: 350px;
 }

 .btn-custom-2 {
     padding: 6px 20px;
     background-color: #FB6B58;
     border-radius: 0;
     color: #ffffff;
     text-transform: uppercase;
     transition: 0.5s all ease;

 }

 .btn-custom-2:hover {
     background-color: transparent;
     border: 1px solid #FB6B58;
     color: #FB6B58;
 }


 /* middle part end */
 /* last part start */
 .experience {
     background-image: url(../img/exp-bg.png);
     background-repeat: no-repeat;
     background-position: left;
     background-size: 80px;
     padding: 80px;
 }

 .title h2 {
     font-weight: 800;
     margin-bottom: 20px;
 }

 .left-part h2,
 .right-part h2 {
     margin: 0;
     padding-bottom: 10px;
     text-transform: capitalize;
     font-size: 35px;
 }

 .left-part h3,
 .right-part h3 {
     font-size: 14px;
     color: orange;
     margin: 0;
     text-transform: capitalize;
 }

 .left-part p {
     font-weight: normal;
     font-size: 16px;
     text-align: justify;
     line-height: 28px;
 }

 .right-part p {
     font-weight: normal;
     font-size: 16px;
     text-align: justify;
     line-height: 28px;
 }

 .left-part {
     box-shadow: -13px 8px 46px #ddd;
     padding: 20px;
     border-radius: 10px;
 }

 .right-part {
     box-shadow: -13px 8px 46px #ddd;
     padding: 20px;
     border-radius: 10px;
 }

 #left-border {
     border-left: 7px solid;
     border-image: linear-gradient(lightsalmon, tomato);
     border-image-slice: 1;
 }

 #right-border {
     border-left: 7px solid;
     border-image: linear-gradient(rgb(33, 17, 177), rgb(87, 77, 221));
     border-image-slice: 1;
 }

 /* last part end */

 /* footer part */
 .footer {
     background: #dddddd;
     padding: 70px 0px;
 }

 .footer-text p {
     font-weight: normal;
     font-size: 16px;
     text-align: center;
     text-transform: capitalize;

 }